{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-sm">
    <h2>Loggers list</h2>
		<table class="table table-hover">
  		<thead>
    		<tr>
      		<th scope="col">name</th>
      		<th scope="col">type</th>
      		<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for generator in object_list %}
				<tr>
					<th scope="row">{{ generator.name }}</th>
					<td>{{ generator.type }}</td>
					<td><a href="{{ generator.get_absolute_url }}">Details</a> <a href="#">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Loggers list</h2>
    <a href="{% url 'generator-regex-create' %}" class="btn btn-primary btn-lg btn-block">Create a new Regex generator</a>
    <a href="{% url 'generator-grok-create' %}" class="btn btn-primary btn-lg btn-block">Create a new Grok generator</a>
    <a href="{% url 'generator-httpd-create' %}" class="btn btn-primary btn-lg btn-block">Create a new Apache HTTPD generator</a>
  </div>
</div>
{% endblock %}
