{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-sm">
    <h2>Create or edit a sshd generator</h2>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
     <a href="{% url 'client-server-list' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Go back to dashboard</button></a>
    </form>
  </div>
</div>
{% endblock %}
