{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col">
    <h2>{{ object.name }}</h2>

    <dl>
      <dd>Name</dd>
      <dt>{{ object.name}}</dt>
      <dd>Hostname</dd>
      <dt>{{ object.hostname}}</dt>
      <dd>IP</dd>
      <dt>{{ object.ip}}</dt>
      <dd>Last run</dd>
      <dt>{{ object.last_run}}</dt>
    </dl>
  </div>
  <div class="col">
      <a href="{% url "client-server-edit" object.pk %}" class="btn btn-primary btn-lg btn-block">Edit</a>
      <a href="{% url "client-server-edit" object.pk %}" class="btn btn-primary btn-lg btn-block">Pause</a>
      <a href="{% url "client-server-delete" object.pk %}" class="btn btn-danger btn-lg btn-block"> Delete </a>
      <a href="{% url "client-server-send-log" object.pk %}" class="btn btn-success btn-lg btn-block">Send a log</a>
      <a href="{% url "client-server-edit" object.pk %}" class="btn btn-warning btn-lg btn-block">Panic !</a>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Linked loggers</h2>

		<table class="table table-hover">
  		<thead>
    		<tr>
      		<th scope="col">name</th>
      		<th scope="col">type</th>
      		<th scope="col">status</th>
      		<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for logger in object.logger_status.all %}
				<tr>
					<th scope="row">{{ logger.logger_server.name }}</th>
          <td>{{ logger.logger_server.type }}</td>
          <td>{{ logger.enabled|yesno:"Enabled,Disabled,Unkown" }}</td>
					<td><a href="{{ logger.logger_server.get_absolute_url }}">Details</a></td>
				</tr>
        {% empty %}
        <tr>
          <th colspan="3">No linked logger server</th>
        </tr>
				{% endfor %}
			</tbody>
		</table>

  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Linked generator</h2>

		<table class="table table-hover">
  		<thead>
    		<tr>
      		<th scope="col">name</th>
      		<th scope="col">type</th>
      		<th scope="col">status</th>
      		<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for generator in object.generator_status.all %}
				<tr>
					<th scope="row">{{ generator.generator.name }}</th>
          <td>{{ generator.generator.type }}</td>
          <td>{{ generator.enabled|yesno:"Enabled,Disabled,Unkown" }}</td>
					<td><a href="{{ generator.generator.get_absolute_url }}">Details</a></td>
				</tr>
        {% empty %}
        <tr>
          <th colspan="3">No linked logger server</th>
        </tr>
				{% endfor %}
			</tbody>
		</table>

  </div>
</div>



<div class="row">
  <div class="col-sm">
     <a href="{% url 'client-server-list' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">Go back to dashboard</button></a>
  </div>
</div>
{% endblock %}
